* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: system-ui ;
}

body {
    background: #222 ;
    color: #fff ;
}

/* inputs */

input {
    width: 100%;
    padding: 10px ;
    border: none ;
    outline: none ;
    background-color: #111 ;
    color: #fff ;
    transition: all 0.4s;
    margin: 10px 5px ;
    font-size: 16px;
    font-weight: 500;
}

input:focus {
    background-color: black ;
    transform: scale(1.1) ;
}

/* /inputs */

/*Buttons*/

button {
    width: 75%;
    margin: 10px auto ;
    display: block ;
    padding: 8px ;
    border-radius: 10px ;
    font-size: 16px ;
    font-weight: 500 ;
    background-color: #3a6cf4 ;
    outline: none ;
    border: none ;
    color: #fff ;
    text-transform: capitalize;
    transition: all 0.4s ;
}

button:hover {
    background-color: #601cfc ;
    transform: scale(1.1);
}

/* /buttons */

.crud {
    width: 80% ;
    margin: 0 auto;
}

.head {
    text-align: center ;
    text-transform: uppercase ;
    margin: 25px 0 ;
    line-height: 1.6;
}

.head p {
    font-size: 18px ;
    font-weight: 400 ;
}

.head span {
    width: 60px ;
    height: 4px ;
    display: block ;
    background: royalblue ;
    border-radius: 6px ;
    margin: 20px auto ;
    transition: all 0.4s;
}

.head:hover span {
    width: 100px ;
}


.prices {
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
}

.prices input {
    width: 19% ;
}

.prices div {
    min-width: 10% ;
    padding: 10px ;
    background-color: #111 ;
    color: #fff ;
    text-align: center ;
    margin: 10px 5px ;
}

.prices div::before {
    content: 'Total : ';
}

/* search-btns*/

.search-btns {
    display: flex ;
    justify-content: space-between ;
    align-items: center;
}

.search-btns button {
    width: 40% ;
}

/* /search-btns*/

table {
    width: 100% ;
    text-transform: uppercase;
    margin: 20px ;
    font-size: 16px ;
}

table td {
    padding: 10px ;
    font-weight: 500 ;
    text-align: center;
    font-size: 14px;
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
}

@media screen and (max-width:860px) {
    
}

@media screen and (max-width: 600px) {

}